@import "./menu.css";
@import "./card.css";
@import "./input.css";

:root{
    --background-color:#f2f6fc;
    --menu-hover-bg-color:#e2ecfc;
    --menu-active-bg-color:#d3e3fd;
}

*{
    padding:0;
    margin:0;
}

body{
   background-color: var(--background-color); 
}

.btn-group{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.el-dialog__body{
    height: 100%;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 0.4em;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary);
  border-radius: 20px;
}
.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}