@import "./menu.css";
@import "./card.css";
@import "./input.css";

:root{
    --background-color:#f2f6fc;
    --menu-hover-bg-color:#e2ecfc;
    --menu-active-bg-color:#d3e3fd;
}

*{
    padding:0;
    margin:0;
}

body{
   background-color: var(--background-color); 
}

.btn-group{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}