.table {
    width: 100%;
    height: calc(100% - 90px)
}
.table-header {
    --el-table-header-bg-color: var(--el-color-primary-light-3);
    color: #fff;
}
.el-table .danger-row {
    --el-table-tr-bg-color: var(--el-color-danger-light-9);
}

.el-table .warning-row {
    --el-table-tr-bg-color: var(--el-color-warning-light-9);
}

.el-table .success-row {
    --el-table-tr-bg-color: var(--el-color-success-light-9);
}

.el-table .warning-row {
    --el-table-tr-bg-color: var(--el-color-warning-light-9);
}
.el-form-item__label {
    font-weight: bold;
}